[2019-07-20 21:29] kentcdodds opened #1 "Support user-specified HTML getters"
I don't know how the configuration would look, but my original idea was to allow for customization of this:

https://github.com/MichaelDeBoey/gatsby-remark-embedder/blob/869dc65a01629cfa89d4e89e2fc6eae440f1c656/src/index.js#L7

via some sort of configuration. That way people could add their own embedder transforms without requiring any changes within this project.

[2019-07-22 16:55] MichaelDeBoey opened #3 "Support SoundCloud"
Add support for SoundCloud.

https://soundcloud.com/pages/embed

[2019-07-22 16:55] MichaelDeBoey opened #4 "Support Spotify"
Add support for Spotify.

https://developer.spotify.com/documentation/widgets/generate/play-button

[2019-07-22 16:56] MichaelDeBoey opened #5 "Support Vimeo"
Add support for Vimeo.

https://vimeo.zendesk.com/hc/en-us/sections/203874347-Embedding-Videos

[2019-07-25 08:05] nero2009 opened #6 "UNHANDLED REJECTION Unable to find plugin "gatsby-remark-embedder""
- `gatsby-remark-embedder` version: 1.0.2
- `node` version: 10.15.0
- `npm` (or `yarn`) version: Yarn 1.13.0

Relevant code or config

This is my package.json
[code]
gatsby-config.js
[code]

What you did
I wanted to add a codesandbox demo to my markdown blogpost, I was able to install the `gatsby-remark-embedder` plugin and modified the `gatsby.config.js` accordingly but when I tried to run my gat

[2019-07-31 21:16] MichaelDeBoey commented on #6
Seems to be related to gatsbyjs/gatsby#5559

[2019-07-31 21:22] #6 closed

[2019-07-31 21:24] MichaelDeBoey commented on #6
:tada: This issue has been resolved in version 1.1.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-03 11:49] MichaelDeBoey opened #7 "Support Instagram"
By request of @codepunkt: add support for Instagram.

https://www.instagram.com/developer/embedding/#oembed

[2019-08-03 11:49] MichaelDeBoey opened #8 "Support Slides.com"
By request of @codepunkt: add support for Slides.com.

https://help.slides.com/knowledgebase/articles/880650-embed-api

[2019-09-13 10:54] lekterable opened #10 "Youtube channel links are broken"
- `gatsby-remark-embedder` version: 1.1.2
- `node` version: v10.16.0
- `npm` (or `yarn`) version: 6.9.0

What you did:

Pasted a link to a youtube channel in a markdown document

What happened:

Link is transformed into an iframe which is broken

<img width="598" alt="Screenshot 2019-09-13 at 12 48 43" src="https://user-images.githubusercontent.com/23037261/64857570-343c1e80-d625-11e9-9851-c49d4a8

[2019-09-13 11:07] lekterable opened #11 "More strict link handling"
- `gatsby-remark-embedder` version: 1.1.2
- `node` version: v10.16.0
- `npm` (or `yarn`) version: 6.9.0

What you did:

Used a markdown syntax of pasting a link

`<https://www.youtube.com/watch?v=dQw4w9WgXcQ>`

or

`[https://www.youtube.com/watch?v=dQw4w9WgXcQ](https://www.youtube.com/watch?v=dQw4w9WgXcQ)`

What happened:

Links are getting transformed into a video

Suggested solution:

I would tr

[2019-09-13 11:13] MichaelDeBoey commented on #10
Hi @lekterable!

Thanks for reporting this.

Can you provide me with a reproduction link (CodeSandbox) or repo so I can dig into this further, please? 🤔

[2019-09-13 11:17] MichaelDeBoey commented on #11
Hi @lekterable!

Thanks for reporting this.

Can you provide me with a reproduction link (CodeSandbox) or repo so I can dig into this further, please? 🤔

[2019-09-13 15:26] MichaelDeBoey commented on #11
Hi @lekterable!

If I understand your request correctly, I think this isn't something that can be fixed.
If you look at the [AST that's created](https://astexplorer.net/#/gist/5d779885c7f454eca86b19cac67810b9/2972d670d4fc3845dfa096158f103eefa5a99211), you'll see that each link will give you the exact same Node.
This means there's no way to know the difference between all 3 of them.

Since this plu

[2019-09-13 15:26] #11 closed

[2019-09-13 15:55] MichaelDeBoey commented on #10
Hi @lekterable!

I quickly tried some things out.
I'm going to fix this by only supporting YouTube videos for now.

[2019-09-13 15:58] MichaelDeBoey commented on #10
@all-contributors Please add @lekterable for bug

[2019-09-13 16:12] MichaelDeBoey opened #13 "Support YouTube channels"
Add support for YouTube channels.

https://developers.google.com/youtube/player_parameters#Selecting_Content_to_Play

[2019-09-13 16:13] MichaelDeBoey commented on #10
I've added #13 to track supporting YouTube channels.

[2019-09-13 16:15] #10 closed

[2019-09-13 16:19] MichaelDeBoey commented on #10
:tada: This issue has been resolved in version 1.1.3 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-13 19:08] lekterable commented on #11
Hey @MichaelDeBoey , sorry I wasn't much help in creating a sandbox for those issues and huge thanks for fixing the first one! I've looked at the AST you've linked and I think I might see a way of tackling this.
Every node has a property position -> start -> column which from what I understand indicates where exactly in the text this given link was found.
[code]

If that's true we could make sure

[2019-09-13 20:51] MichaelDeBoey commented on #11
@lekterable That would indeed be a possible solution for what you're suggesting.

Since using pure markdown those 3 lines are seen as exactly the same (people expect them to give the same output), I'm not going to do anything about this.

I hope you understand my point of view and why I'm not going to include your proposal into the plugin.

If you have some future improvements, I'm happy to look i

[2019-09-16 09:00] MichaelDeBoey opened #14 "Create example project"
This could then be used to test bugs

[2019-09-18 11:45] #3 closed

[2019-09-18 11:48] MichaelDeBoey commented on #3
:tada: This issue has been resolved in version 1.2.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-02 11:55] anuraghazra opened #16 "Add Support For CodePen"
I installed the plugin expecting that somehow codepen embeds will magically appear on my markdown, but i found out its not supported?

[2019-10-02 12:04] MichaelDeBoey commented on #16
Hi @anuraghazra!

CodePen indeed isn't supported (yet).

Maybe I can try and have a look at it later this week. 😉

[2019-10-02 12:13] MichaelDeBoey commented on #16
Note to self: visit https://codepen.io/embeds for more info

[2019-10-02 12:36] anuraghazra commented on #16
Thanks for the fast reply.
That would be great to have codepen support, currently i'm using [gatsby-remark-codepen](https://www.gatsbyjs.org/packages/@weknow/gatsby-remark-codepen/) but i will switch to gatsby-remark-embedder because it has all the features i need, so i don't have to worry about different packages for YT, Twitter, Codepen etc

[2019-10-10 00:03] MichaelDeBoey opened #20 "Create CodeSandbox transformer tests"

[2019-10-10 14:51] #16 closed

[2019-10-10 14:56] MichaelDeBoey commented on #16
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-10 17:05] #20 closed

[2019-10-10 17:08] MichaelDeBoey commented on #20
:tada: This issue has been resolved in version 1.3.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-10 17:08] anuraghazra opened #23 "Youtube link detection failed"
- `gatsby-remark-embedder` version: 1.3.1

What you did:
trying to embed youtube video with www.youtube.com

What happened:
did not embed

Problem description:
`https://youtube.com/watch?v=dQw4w9WgXcQ` is embedding correctly but `https://www.youtube.com/watch?v=dQw4w9WgXcQ` is not

Suggested solution:
Fixing `shouldTransform`  function

[2019-10-10 17:17] anuraghazra commented on #23
looks like using === is causing the issue because it doesn't take account on `www`

[code]

[2019-10-10 17:21] MichaelDeBoey commented on #23
Hi @anuraghazra!

Thanks for bringing this to my attention.
Will push a fix asap. 🙂

[2019-10-10 17:21] MichaelDeBoey commented on #23
@allcontributors Please add @anuraghazra for bugs

[2019-10-10 17:24] anuraghazra commented on #23
so basically all **new URL(url).host === "my url"** checks will be failing in this case

[2019-10-10 17:33] #23 closed

[2019-10-10 17:40] MichaelDeBoey commented on #23
:tada: This issue has been resolved in version 1.3.3 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.3.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-10 18:17] anuraghazra opened #25 "Add ability to pass embed-specific options"
If we can let users to add certain options to specific embeds thought `gatsby-config.js` then it will increase the flexiblity.

for example we can do :

[code]

That way we can set embed specific parameters like `height` or `theme`

[2019-10-10 23:59] MichaelDeBoey opened #26 "Add plugin tests (from main entry point)"
So the whole flow gets tested

[2019-10-11 12:23] anuraghazra commented on #8
I tried to implement this, seems like it's a bit tricky to implement the `shouldTransform` check because slides don't have a distinct url to check for embeds

i tried this approach, is it good? do you have any idea how we can do it?

[code]

although it fails in this case
[code]

[2019-10-11 12:24] anuraghazra commented on #8
above check passes in all these tests

[code]

[2019-10-11 13:53] MichaelDeBoey commented on #8
@anuraghazra can you please open a (draft) PR so we can discuss it there? 🤔

[2019-10-14 23:35] MichaelDeBoey opened #32 "Support Twitch"
By request of @michielnuyts: add support for Twitch.

https://dev.twitch.tv/docs/embed/video-and-clips

[2019-10-15 10:57] MichaelDeBoey opened #33 "Support Notion"
By request of @Michielnuyts: add support for Notion.

Investigation how to do this is still necessary.

[2019-10-16 10:33] ChaituKNag opened #34 "Chore: extract string literals into constants for better code quality"
- `gatsby-remark-embedder` version: 1.3.3
- `node` version: latest
- `npm` (or `yarn`) version: latest

Relevant code or config

[code]

What you did: I want to extract the string literals to reusable constants for better maintenability.

What happened: this is a chore, not a bug.

Reproduction repository: <none>

Problem description: Currently, if one of the supported embeds have a change in url

[2019-10-16 14:42] MichaelDeBoey commented on #34
Hi @ChaituKNag!

Thanks for your suggestion, but I'm not really seeing any benefit of pulling out every string variable into a new `constants.js` file tbh.
If there needs to be a change, we can just change it in the corresponding transformer, no? 🤔

Please explain what I'm missing in your opinion.

[2019-10-16 17:14] ChaituKNag commented on #34
Yeah, for a finite bunch of transformers, I believe that should not be a problem.

[2019-10-16 17:14] #34 closed

[2019-10-16 17:16] MichaelDeBoey commented on #34
@ChaituKNag The purpose is to support as much services as possible.
So if you think your idea would make that easier in the future, I'm glad to hear more about your idea. 🙂

[2019-10-17 09:16] #26 closed

[2019-10-20 13:35] MichaelDeBoey commented on #26
:tada: This issue has been resolved in version 1.3.4 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.3.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-23 11:32] #8 closed

[2019-10-23 11:39] MichaelDeBoey commented on #8
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-23 14:25] MichaelDeBoey opened #36 "Fix Slides team Decks"
@MichaelDeBoey (https://twitter.com/MichaelDeBoey93/status/1186980179555639296)

@hakimel (https://twitter.com/hakimel/status/1187010242514706432)

[2019-10-23 14:51] anuraghazra commented on #36
this check is passing in shouldTransform

[code]

**(needs more testing)**

[2019-10-24 16:04] MichaelDeBoey commented on #36
:tada: This issue has been resolved in version 1.4.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-11 16:00] #4 closed

[2019-11-11 16:04] MichaelDeBoey commented on #4
:tada: This issue has been resolved in version 1.5.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-15 20:31] hirenoble opened #40 "Support JotForm"
Problem description:
JotForm is a popular online form builder. It would be great if a JotForm URL can be transformed into an embedded section.
Suggested solution:
JotForm provides some inbuilt embed form features that can be leveraged.
![image](https://user-images.githubusercontent.com/3747836/68973741-46b11080-07ac-11ea-9290-c9a2c1080872.png)

[2019-11-15 20:42] MichaelDeBoey commented on #40
Hi @hirenoble!

Thanks for the suggestion.

Could you provide me with some JotForm links please?

[2019-11-15 21:02] hirenoble commented on #40
@MichaelDeBoey Thanks for quick response! I have created few for your reference: https://form.jotform.com/93186682056162
https://form.jotform.com/93186478712164

[2019-11-15 21:41] MichaelDeBoey commented on #40
Thanks for providing some examples @hirenoble!

I'll try to take a look at supporting JotForm asap 🙂

[2019-11-16 13:10] MichaelDeBoey commented on #40
Note to self: visit https://www.jotform.com/help/67-Which-Form-Embed-Code-Should-I-Use for more info

[2019-11-20 10:08] alexluong opened #41 "Twitter embed creates blockquote inside p"
- `gatsby-remark-embedder` version: 1.5.0
- `node` version: 12
- `npm` (or `yarn`) version: yarn 1.19.1

What you did: Embed tweet inside MDX file

What happened:

2 error messages in the console:

[code]

 and

[code]

The reason is that the generated HTML for the tweet is:

[code]

Suggested solution: I haven't looked into it yet. Just wanna report back. It's just an annoyance at the moment, no

[2019-11-20 14:21] MichaelDeBoey commented on #41
Hi @alexluong!

Can you provide me with a reproduction repo/CodeSandbox please?

Thanks!

[2019-11-22 01:57] alexluong commented on #41
@MichaelDeBoey I don't use `gatsby-plugin-twitter`. Should I?

FWIW, here are my Gatsby packages:

[code]

I will try to provide a reproduction soon.

[2019-11-22 08:45] MichaelDeBoey commented on #41
@alexluong Like said in the README it's indeed necessary to use `gatsby-plugin-twitter` too when using the Twitter transformer
https://github.com/MichaelDeBoey/gatsby-remark-embedder#twitter

I think that'll fix the problem you're having (since the `blockquote` isn't the proper embed).

[2019-11-24 11:01] MichaelDeBoey commented on #41
@alexloung Does that solve your problem? 🤔

[2019-11-25 01:09] alexluong commented on #41
@MichaelDeBoey No, it doesn't. Instead of rendering the blockquote, it does render the Twitter embed (`twitter-widget`). However, the warnings are still there.

[2019-11-25 01:34] MichaelDeBoey commented on #41
@alexluong You checked if this worked, so could you send me the repo/CodeSandbox which you used to check it out please?

If not public, can you please send me a private invite so I can investigate this a bit further?

I can't see any browser warnings (using Chrome) when going to [@kentcdodds' _Fix the slow render before you fix the re-render_ blogpost](https://kentcdodds.com/blog/fix-the-slow-rend

[2019-12-02 03:12] MichaelDeBoey commented on #41
@alexluong Did you already find some time to look into an example? 🤔

[2019-12-02 03:35] alexluong commented on #41
I'll have something for you this week!!

[2019-12-05 04:56] kentcdodds opened #42 "Support custom transformers"
The way that I organized this originally was to make it so people could create custom transformers (think of it as a form of [Inversion of Control](https://kcd.im/ioc)). I think an API like this might be nice:

[code]

I don't think it should be too much of a challenge to implement. Thoughts?

[2019-12-06 03:36] MichaelDeBoey opened #44 "Support Twitter moments"
https://twitter.com/i/moments/1202789641340014594, but not https://twitter.com/i/moments/edit/1202789641340014594

https://twitter.com/i/events/994601867987619840

[2019-12-06 19:15] MichaelDeBoey commented on #1
Superseded by #42

[2019-12-06 19:15] #1 closed

[2019-12-07 22:34] #42 closed

[2019-12-07 22:59] MichaelDeBoey commented on #42
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-12 18:48] MichaelDeBoey opened #49 "Support Streamable"
By request of @jamessimone: add support for Streamable.

https://streamable.com/documentation

[2019-12-18 14:40] MichaelDeBoey opened #50 "Support GIPHY"
Add support for GIPHY.

https://support.giphy.com/hc/en-us/articles/360020330711-How-to-Embed-a-GIF
https://giphy.com/posts/how-to-embed-giphy-gifs-on-your-website

[2019-12-22 16:14] MichaelDeBoey opened #52 "Support RunKit"
By request of @cms: add support for RunKit.

https://runkit.com/docs/embed

[2019-12-22 16:14] MichaelDeBoey opened #53 "Support Repl.it"
By request of @cms: add support for Repl.it.

https://docs.repl.it/repls/embed
https://docs.repl.it/classrooms/embed

[2019-12-22 16:53] MichaelDeBoey commented on #41
@alexluong Did you already find some time to look into an example? 🤔

[2019-12-24 16:17] #49 closed

[2019-12-24 16:19] MichaelDeBoey commented on #49
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-01 19:58] MichaelDeBoey commented on #50
@gatsbyjs is using GIPHY embeds
https://github.com/gatsbyjs/gatsby/search?q=giphy.com&unscoped_q=giphy.com

[2020-01-01 20:00] MichaelDeBoey commented on #41
Closed, because this one is stale.

@alexluong If you have more info, please open a new issue.

[2020-01-01 20:00] #41 closed

[2020-01-13 10:10] MichaelDeBoey commented on #5
@jlengstorf's usage of vimeo embeds
https://github.com/jlengstorf/lengstorf.com/search?q=vimeo&unscoped_q=vimeo

[2020-01-14 10:31] sigvei commented on #42
I realise this issue is closed, but I am stumped as to how this is supposed to work, and maybe it's not just me?

The documentation tells me to `import transformer from './src/my_transformer.js`, but that is not a legal statement in `gatsby-config.js`: `Cannot use import statement outside a module`, says node (both 13.6 and 12.14).

If i try to `require` the transformer instead, node just complain

[2020-01-14 12:05] MichaelDeBoey commented on #42
@sigvei Thanks for bringing up this issue.
I've updated the example.

If that's not clear enough, you can always send in a PR to make it more clear. 🙂
If you take a look at kentcdodds/kentcdodds.com#348, you'll see how I've implemented a custom transformer there. 😉

[2020-01-14 21:19] acagastya opened #59 "Add support for Lichess.org"
Hi, I was hoping this plugin could support embedding matches from lichess.org.

[Lichess embed docs](https://lichess.org/developers).

[2020-01-15 06:32] bradgarropy opened #61 "youtube embed not working once deployed to netlify"
- `gatsby-remark-embedder` version: `1.7.0`
- `node` version: `8.17.0`
- `npm` (or `yarn`) version: `6.13.4`

Relevant code or config

[code]

[code]

What you did:
Pasted the above YouTube link into a Markdown document to be processed by `remark`, which should include `gatsby-remark-emedder`. Everything works great locally running `gatsby develop` and `gatsby build` with `node v12.13.1`. Then I p

[2020-01-15 06:44] bradgarropy commented on #61
Ah! Found out that Netlify's default version of Node.js is very old.
[Specifying a Node.js version](https://docs.netlify.com/configure-builds/manage-dependencies/#node-js-and-javascript) of `12` fixed the issue!

[2020-01-15 07:01] bradgarropy commented on #61
Reopening as @MichaelDeBoey stated that this plugin should work with Node v8.

[2020-01-15 08:06] MichaelDeBoey commented on #61
@bradgarropy It seems that the deploy worked with Node 8, no? 🤔
https://deploy-preview-103--bradgarropy.netlify.com/blog/adobe-lunch

[2020-01-15 15:19] bradgarropy commented on #61
That was because I had set the `NODE_VERSION` environment variable to `12` in Netlify.
Here is a link to a [specific deploy](https://5e1eae6f5b060800c0fc65f8--bradgarropy.netlify.com/blog/adobe-lunch) that did not work as intended.

[2020-01-20 21:34] MichaelDeBoey commented on #61
I'm going to close this one, since I'll release a major version with updated Node dependency.

[2020-01-21 13:53] #59 closed

[2020-01-21 13:55] MichaelDeBoey commented on #59
:tada: This issue has been resolved in version 1.8.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 20:56] #7 closed

[2020-01-23 20:58] MichaelDeBoey commented on #7
:tada: This issue has been resolved in version 1.9.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 21:47] MichaelDeBoey commented on #14
Example project with
- [`gatsby-transformer-remark`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-remark)
- [`gatsby-plugin-mdx`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-mdx)

[2020-01-24 02:01] arryanggaputra opened #67 "Instragram fails to transform"
- `gatsby-remark-embedder` version: ^1.9.0
- `gatsby-plugin-instagram-embed` version: ^1.1.0
- `node` version: v13.6.0
- `npm`  version: 6.13.4

Relevant code or config
*gatsby-config.js*
[code]

markdown
[code]

What you did: Add instragram url to markdown file.

What happened:

[code]

[2020-01-24 06:09] MichaelDeBoey commented on #67
Hi @arryanggaputra!

Could you provide a reproduction repo or CadeSandbox please, so I can take a look?

Thanks!

[2020-01-24 06:34] arryanggaputra commented on #67
Hi @MichaelDeBoey
This is the repo https://github.com/arryanggaputra/kopidev-gatsby/tree/development
Last commit https://github.com/arryanggaputra/kopidev-gatsby/commit/8b12f347856b2bec8e2ea43a50ee3e8cf5ca382f

Thanks!

[2020-01-24 09:46] MichaelDeBoey commented on #67
@arryanggaputra Can you update all your dependencies to the latest version please?
I know there was a problem in `gatsby`, which should be resolved.

[2020-01-24 11:38] arryanggaputra commented on #67
@MichaelDeBoey  every dependency already upgrade to the latest version.
[code]

Any other thing that I need to check?

[2020-01-24 13:02] MichaelDeBoey commented on #67
@arryanggaputra Just checked out your repo and ran `yarn build` and I see it too.

Do you have the time to make a minimal representation please?
Just add `gatsby-transformer-remark` and `gatsby-remark-embedder` and you'll be good.
That way we can be sure it's not because of other things you're doing. 🙂

[2020-01-24 13:49] MichaelDeBoey commented on #67
@all-contributors Please add @arryanggaputra for bug

[2020-01-24 13:52] #67 closed

[2020-01-24 13:54] MichaelDeBoey commented on #67
:tada: This issue has been resolved in version 1.9.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-24 14:35] MichaelDeBoey opened #69 "Support Flickr"
Add support for Flickr.

https://help.flickr.com/en_us/share-or-embed-flickr-photos-or-albums-rJBx6mjyX

[2020-01-24 14:40] MichaelDeBoey opened #70 "Support Pinterest"
Add support for Pinterest.

https://developers.pinterest.com/tools/widget-builder/?type=pin
https://developers.pinterest.com/tools/widget-builder/?type=board
https://developers.pinterest.com/tools/widget-builder/?type=profile

[2020-01-25 01:30] osiux commented on #5
Oembed endpoint: https://vimeo.com/api/oembed.json?url=http%3A%2F%2Fvimeo.com%2F76979871

[2020-01-25 11:49] pieh opened #74 "intermittent network errors ( socket hang up )"
- `gatsby-remark-embedder` version: `1.8.0`
- `node` version: `10.16.3`
- `npm` (or `yarn`) version: `yarn@1.17.3`

Relevant code or config

https://github.com/gatsbyjs/gatsby/blob/4b3ce3ee0f6bf2ae4b70a88ce19d78ee9e1e637b/www/gatsby-config.js#L139-L151

(usage with `gatsby-plugin-mdx` - probably not relavant)

What happened:

We are getting intermittent network errors when sourcing data for gatsby

[2020-01-25 12:53] MichaelDeBoey commented on #74
Hi @pieh!

Thanks for bringing this to my attention.

This is however a problem on your side.
Like you already mentioned, this is probably because of your network conditions.
https://github.com/node-fetch/node-fetch/issues/232

[2020-01-25 13:00] pieh commented on #74
I do agree it's network related, but please note that this isn't just me that experiences this.

What i suggest here is to use maybe something like https://www.npmjs.com/package/fetch-retry to wrap `fetch` to give a chance to recover instead of failing build completely (which is just frustrating)

[2020-01-25 13:07] MichaelDeBoey commented on #74
@pieh Can you send me some links to the other reports please?

[2020-01-25 13:18] pieh commented on #74
Ah, they are not on github - I got those from our (gatsby) internal slack channel.

I wouldn't be bothered by it too much if it was just me or occasional hiccup for our learning/docs team (as most changes are content or components that don't require restarting `gatsby develop`), but it's primarily problem for @tesseralis who is working on enabling translations for gatsbyjs.org (which does require

[2020-01-25 13:21] pieh commented on #74
I'm happy to provide PR for this - just didn't want to dive to deep before some chat here

[2020-01-25 13:25] MichaelDeBoey commented on #74
Hmmm that's indeed annoying then.

One other problem would be that when there's no internet connection of course.

I'm happy to accept a PR if you want to implement it. 🙂

[2020-01-27 19:06] #50 closed

[2020-01-27 19:08] MichaelDeBoey commented on #50
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-27 20:00] #74 closed

[2020-01-27 20:03] MichaelDeBoey commented on #74
:tada: This issue has been resolved in version 1.11.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-02 10:33] ilyamkin commented on #61
@MichaelDeBoey The issue with Node 8 in the `URL` object. If you import URL explicitly `const URL = require('url').URL;`, then the plugin would work.
I understand that you want to update Node with a major release, do you think it still makes sense to fix 1.x.x version as well compatibility wise? I can submit PR.

https://nodejs.org/es/blog/release/v8.0.0/#say-hello-to-the-whatwg-url-parser

[2020-02-02 13:58] MichaelDeBoey commented on #61
@ilyamkin Hmmm that’s weird, ‘cause I think that part is just copied over from @kentcdodds’ website repo.
So that would mean the plugin never worked on Node 8.
But that should be impossible because we had tests for Twitter & YouTube from the start

[2020-02-02 14:23] ilyamkin commented on #61
So I see the initial commit in this repo and it has `const { URL } = require('url')` which works in Node 8.
https://github.com/MichaelDeBoey/gatsby-remark-embedder/blob/46bc578f7a6776974d6f1e76818ffac427cbe603/src/get-youtube-html.js#L1

[2020-02-02 14:39] MichaelDeBoey commented on #61
@ilyamkin We still have a `import { URL } from 'url';` in each transformer file.

But in `index.js` we indeed rely on the global `URL`.
https://github.com/MichaelDeBoey/gatsby-remark-embedder/blob/2a16cd275a95246a4185b9aa184263cfc2dfd4f5/src/index.js#L9

I'm happy to accept a PR that fixes this if you want. 🙂

[2020-02-02 14:41] MichaelDeBoey commented on #61
@all-contributors Please add @bradgarropy for bug

[2020-02-02 16:27] #61 closed

[2020-02-02 16:30] MichaelDeBoey commented on #61
:tada: This issue has been resolved in version 1.11.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.11.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-02 16:36] MichaelDeBoey opened #82 "Use global URL whenever we drop Node 8 support"
Remove all `import { URL } from 'url';` lines, because `URL` is globally available [since Node 10](https://nodejs.org/api/globals.html#globals_url).

Reference: #80

[2020-02-05 18:10] acagastya commented on #82
But is there a reason to drop support for Node 8 anytime soon?

[2020-02-05 19:39] MichaelDeBoey commented on #82
Node 8 is [EOL](https://nodejs.org/en/about/releases) & @gatsbyjs is going to drop official support [very soon](https://github.com/gatsbyjs/gatsby/pull/20343#issuecomment-572484387).

[2020-02-06 04:45] macdonst opened #85 "Empty link causes build error in gatsby develop"
- `gatsby-remark-embedder` version: 1.11.1
- `node` version: 12.14.1
- `npm` (or `yarn`) version: 6.13.4

Relevant code or config

[code]

What you did:

We had a markdown file that had a weird link formatted like `[](https://example.com)`. The text portion of the link was empty.

What happened:

When the graphQL query was run on that file we got an error.

[code]

Basically everything under `chil

[2020-02-06 10:20] MichaelDeBoey commented on #85
@macdonst Can you provide me with an example repo/CodeSandbox please?

I don't understand why you would have a link with an empty title, cause you won't see any link then.
And if you want to just copy the link to a tweet/video/sandbox/..., you can just paste it on that line instead of using the rectangular and round brackets.

[2020-02-06 14:06] MichaelDeBoey opened #87 "Support Carbon"
Add support for Carbon.

https://twitter.com/carbon_app/status/1046806098928234496

[2020-02-06 20:24] macdonst commented on #85
@MichaelDeBoey yeah, I agree the link is stupid. I ran into it as a tech writer was using:

[code]

as a visual delimiter.

If the .md file has a link like that in it then all the properties of `childMarkdownRemark` are missing. I don't think that anyone should be using a link formatted like that but if they do it will prevent the entire site from being built. Let me create a repo with the reprodu

[2020-02-06 20:46] macdonst commented on #85
@MichaelDeBoey I created a repo with a reproduction at:

https://github.com/macdonst/gatsby-starter-markdown

The file, `gatsby-starter-markdown/contents/docs/get-started/introduction.md` contains one of the bad links. When you run `gatsby develop` you will see an error like:

[code]

and if you try and view http://localhost:8001/docs/get-started/introduction you will see the header but not the pa

[2020-02-07 10:21] MichaelDeBoey commented on #85
@macdonst I've had some thoughts about this and I'm going to close this issue + the accompanied PR, since the use of a link without a child text will never happen in real projects.

If you want to create a visual delimiter you can always use an HTML comment like
[code]

[2020-02-07 16:01] macdonst commented on #85
@MichaelDeBoey I realize that the likelihood of this happening is very small but the impact when it does happen is very large. Obviously, our tech writer did the wrong thing but the code change is so small and it makes the plugin way more resilient to bad input so I wish you would reconsider.

[2020-02-07 16:07] hirenoble commented on #85
@MichaelDeBoey I agree with @macdonst, it's a small change and if it makes the plugin more stable. I think we should go for it.

[2020-02-07 16:37] MichaelDeBoey commented on #85
@all-contributors Please add @macdonst for bug

[2020-02-07 16:40] #85 closed

[2020-02-07 17:01] MichaelDeBoey commented on #85
:tada: This issue has been resolved in version 1.11.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.11.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-07 17:15] hirenoble commented on #85
Thank you @MichaelDeBoey!

[2020-02-24 05:54] bradgarropy opened #90 "instagram embed showing 'view this post on instagram'"
# Dependencies

- `gatsby-remark-embedder` version: `v1.11.2`
- `node` version: `v12.13.1`
- `npm` (or `yarn`) version: `v6.13.7`

# Relevant Code

[code]

[code]

# What you did

- Installed `gatsby-remark-embedder`.
- Added it to the `plugins` array of `gatsby-transformer-remark`.

*Didn't show embedded post properly.*

- Installed `gatsby-plugin-instagram-embed`.
- Added it to the `plugins` arr

[2020-02-24 23:13] MichaelDeBoey commented on #90
@bradgarropy Since the Instagram transformer is using the official Instagram oembed endpoint
https://github.com/MichaelDeBoey/gatsby-remark-embedder/blob/f9c510e75d0d2c07442409ced4daa580eb5b0d75/src/transformers/Instagram.js#L18-L21
And since you're seeing the same whenever you're using [`gatsby-plugin-instagram-embed`](https://github.com/jlengstorf/gatsby-plugin-instagram-embed) or not, I think t

[2020-02-25 03:45] bradgarropy commented on #90
Great observation!

For reference, here is the Instagram embed that is produced after the `gatsby build` command.

[code]

[2020-02-25 03:52] bradgarropy commented on #90
Updated the page with a [few more examples](https://dev.dailytexascountry.com/blog/instagram).

Even copying the embed code directory from Instagram, I still get the same output.

[2020-02-25 07:29] MichaelDeBoey commented on #90
@bradgarropy have you tried copying the script too? 🤔

[2020-02-25 16:55] bradgarropy commented on #90
Just tried that as well. I copied the embed `html` directly from Instagram's website.

![Screen Shot 2020-02-25 at 10 51 35 AM](https://user-images.githubusercontent.com/11336745/75268501-2fc38680-57bd-11ea-8f50-d781b3366ed9.png)

Then grabbed the `embed.js` from https://www.instagram.com/embed.js
You can see the [result here](https://dev.dailytexascountry.com/blog/instagram#instagrams-embed-code-

[2020-02-25 17:18] MichaelDeBoey commented on #90
This strengthens my though that it's probably something in [`gatsby-plugin-instagram-embed`](https://github.com/jlengstorf/gatsby-plugin-instagram-embed) that's causing this bug.

Maybe @jlengstorf can help us take a look at the problem.

[2020-02-25 17:29] bradgarropy commented on #90
Okay, seeing some interested behavior.

## Local

Nothing works at all.
No Network calls are being made to fetch `embed.js`.

## Deployed

Client side route changes do not work.
No Network calls are being made to fetch `embed.js`.

However, refreshing the `/blog/instagram` page properly loads up the `embed.js` code an displays the images.

[2020-02-25 17:29] bradgarropy commented on #90
Okay, seeing some interested behavior.

## Local

Nothing works at all.
No Network calls are being made to fetch `embed.js`.

## Deployed

Client side route changes do not work.
No Network calls are being made to fetch `embed.js`.

However, refreshing the `/blog/instagram` page properly loads up the `embed.js` code an displays the images.

[2020-02-25 17:31] bradgarropy commented on #90
One thing to note, I am using [`gatsby-plugin-layout`](https://www.gatsbyjs.org/packages/gatsby-plugin-layout/), which could have an effect on the different behavior we're seeing with route changes.

[2020-02-25 21:03] bradgarropy commented on #90
Here's a [suuuuper simple reproduction](https://codesandbox.io/s/instagram-embed-m06uf?fontsize=14&hidenavigation=1&module=%2Fgatsby-config.js).

[2020-02-25 22:13] MichaelDeBoey commented on #90
Hmmm the issue still occurs, so I think it's something inside of [`gatsby-plugin-instagram-embed`](https://github.com/jlengstorf/gatsby-plugin-instagram-embed) that's wrong. 😕

Will try to take a look at it later this week if I have some time, but maybe @jlengstorf has a clue on how to fix this one.

[2020-03-01 02:05] muescha opened #92 "allow title/linktext in links"
Allow links with title, so that the transformer can use a title if needed:

[code]

[2020-03-01 02:05] muescha opened #93 "Support for EggHead"
similar to:

https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/shared/egghead-embed.js

(for same functionality with title see #92 `allow title/linktext in links`)

[2020-03-01 12:57] MichaelDeBoey commented on #92
Hi @muescha!

Just to be sure, what's the expected outcome you're looking for? 🤔
And why do you want it so badly?

[2020-03-01 14:35] MichaelDeBoey opened #94 "Support Speaker Deck"
Add support for Speaker Deck.

https://speakerdeck.com/faq#oembed
https://speakerdeck.com/faq#share

[2020-03-01 22:54] muescha commented on #92
for example for the EggHead Component has it.
thats a good way to provide some a title or as an alt tag for aria

[2020-03-02 00:08] MichaelDeBoey commented on #92
@muescha Why do you think it's necessary to add it?
What value does it have?

[2020-03-02 01:53] muescha commented on #92
if hast the value that this plugin can handle also egghead embeds with a title.

the egghead component uses the title tag ([egghead-embed](https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/shared/egghead-embed.js))

but you are right i see one drawback: then it is not that easy to distinct between "real" links and links who are needs to embedded.

[2020-03-02 01:57] MichaelDeBoey commented on #92
Yeah the question we also have to ask ourselves is if it _really_ is necessary that we can set a correct title.
I'm not seeing any value in doing so tbh.

Maybe @kentcdodds can sway in with his opinion too? 🤔

[2020-03-02 02:00] muescha commented on #92
i think it is in the gatsby repo because of accessibility
(https://dequeuniversity.com/tips/provide-iframe-titles)

i think the other transformers can also benefit from more accessibility

[2020-03-02 02:08] MichaelDeBoey opened #95 "Support SlideShare"
Add support for SlideShare.

https://slideshare.net/developers/oembed

[2020-03-02 02:23] MichaelDeBoey opened #96 "Support Google Slides"
Add support for Google Slides.

https://business.tutsplus.com/tutorials/embed-google-slides-presentations-online--cms-29503

[2020-03-02 02:24] muescha commented on #92
[code]

or in lists like this:
https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/awesome-gatsby-resources.md#L62-L65

[2020-03-02 02:36] MichaelDeBoey commented on #92
The list you're providing is just meant to be a list, not all embeds.
So I think the plugin is doing what it should do, no? 🤔

[2020-03-02 05:29] muescha commented on #92
Sorry I forget to add this:
the examples are against my suggestion. That means adding a title is not a good idea because of the syntax :(

[2020-03-02 06:00] muescha commented on #92
an other syntax suggestion: maybe with a blockquote `>`

[code]

[2020-03-02 09:52] MichaelDeBoey commented on #92
What about when people have a quote with a link in it? 🤔

[2020-03-02 11:29] muescha commented on #92
the same if just the url as text is in a paragraph 🤔

[2020-03-02 11:40] MichaelDeBoey commented on #92
That's true indeed.

Going to close this one, as it's clear that this isn't really something that would be possible.

[2020-03-02 11:40] #92 closed

[2020-03-02 16:47] MichaelDeBoey opened #97 "Support Twitter timelines"
https://twitter.com/wesbos/timelines/1189618481672667136

[2020-03-02 17:23] #44 closed

[2020-03-02 17:24] #70 closed

[2020-03-02 17:28] MichaelDeBoey commented on #44
:tada: This issue has been resolved in version 1.12.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-02 17:28] MichaelDeBoey commented on #70
:tada: This issue has been resolved in version 1.12.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-04 20:11] pieh opened #99 "links to tweets whose author limited who can view them crashes builds"
- `gatsby-remark-embedder` version: `1.12.0`
- `node` version: `10.16.3`
- `npm` (or `yarn`) version: `yarn@1.17.3`

## Relevant code or config

In gatsby-config (from reproduction site repository linked below)

[code]

## What you did:

Author of tweet I had link for limited who can see their tweets - for example https://twitter.com/mattconvente/status/1099706762897342465

## What happened:

Got

[2020-03-04 20:15] pieh commented on #99
As always - I'm happy to provide PR (once I get some time :) )

[2020-03-06 13:18] MichaelDeBoey commented on #99
@pieh I'm happy to accept a PR if you have time to figure this one out 🙂

[2020-03-06 13:18] MichaelDeBoey commented on #99
@all-contributors Please add @pieh for bug

[2020-03-06 13:50] MichaelDeBoey commented on #99
The problem here is that we use `node-fetch`, which doesn't reject in case of `4xx` responses: https://github.com/node-fetch/node-fetch/issues/7#issuecomment-83921003.

So either we have to change `fetchOEmbedData` or we should change to another request library.

[2020-03-16 19:21] kentcdodds opened #103 "Handle twitter error for missing or private tweets"
Sometimes, a tweet that I have linked to will get turned to private or be otherwise unavailable. This has happened to me a few times when people have made their profiles private or deleted the tweet I linked to:

[code]

I feel like there are probably other errors which should be addressed. I'm thinking that we should choose one of two paths forward for this:

1. log a warning to the console, don'

[2020-03-16 19:41] MichaelDeBoey commented on #103
This one's in line with #99

[2020-03-18 13:49] pieh commented on #103
I opened https://github.com/MichaelDeBoey/gatsby-remark-embedder/pull/104 with fix proposal.

I went with option 2 (as in general Gatsby philosophy is that we shouldn't try to workaround content issues and it's better to fail the build, than to have successful build with unexpected content). For `gatsby develop` case it won't terminate dev server - it will show warning and give chance to adjust li

[2020-03-19 14:55] MichaelDeBoey opened #105 "Support Typeform"
Add support for Typeform.

https://help.typeform.com/hc/en-us/articles/360029249212-Embed-your-typeform

[2020-03-19 20:55] #99 closed

[2020-03-19 20:55] #103 closed

[2020-03-19 20:57] MichaelDeBoey commented on #99
:tada: This issue has been resolved in version 1.14.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-19 20:57] MichaelDeBoey commented on #103
:tada: This issue has been resolved in version 1.14.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-20 12:46] pieh commented on #82
https://www.gatsbyjs.org/blog/2020-03-20-dropping-support-for-node-8/

[2020-03-20 17:52] #32 closed

[2020-03-20 17:56] MichaelDeBoey commented on #32
:tada: This issue has been resolved in version 1.15.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.15.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-20 21:18] codegrau opened #107 "GDPR compliance?"
How would I make this gdpr compliant like “click to load external ressources” before displaying the embedded iframes?

[2020-03-20 21:44] MichaelDeBoey commented on #107
Hmmm that's a though one...

I'm afraid that's not possible at this moment and I don't think I want this in the scope of this plugin.
I _can_ tell you that all the transformers are using a `dnt` query param whenever we fetch the embed where possible.

https://github.com/MichaelDeBoey/gatsby-remark-embedder/blob/677c8ad0e918a3c69db490cd34c0748d6138f3a2/src/transformers/Twitter.js#L24

https://githu

[2020-03-20 22:16] MichaelDeBoey commented on #25
:tada: This issue has been resolved in version 1.16.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.16.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-20 22:16] #25 closed

[2020-03-24 00:07] adrienlefebvre92 commented on #90
This issue is still occurring for me, impossible to make it work.

[2020-03-24 00:09] MichaelDeBoey commented on #90
@adrienlefebvre92 Can you get it to work if you add the script tag manually in the page? 🤔

[2020-03-29 01:26] #107 closed

[2020-03-31 17:05] #82 closed

[2020-04-02 08:21] wohfab opened #113 "Documentation: Services Options Explanation missing"
The documentation lacks information about the **[services options](https://github.com/MichaelDeBoey/gatsby-remark-embedder#services)**. It says, we can use options to manipulate the service, but does not give an example. I am trying to add options as follows:

[code]

This does not change anything in the embed.

[2020-04-02 09:20] MichaelDeBoey commented on #113
Hey @wohfab!

That's normal, as there's no built-in transformer that supports options (yet).
As soon as a built-in transformer is supporting any option, we'll add them to the service-specific docs. 🙂

[2020-04-02 09:20] #113 closed

[2020-04-02 09:32] wohfab commented on #113
Ah ok! Thanks a lot for the quick clarification. The specified part in the docs suggests (IMO), that those options already exist.

Sorry, I read that wrong.

[2020-04-10 13:39] bradgarropy commented on #90
After upgrading these modules, I no longer saw the issue.

[code]

[2020-04-10 13:39] #90 closed

[2020-04-13 11:30] reachtokish commented on #96
@MichaelDeBoey Want to give it a try if no one working on it.

[2020-04-13 12:01] MichaelDeBoey commented on #96
@reachtokish I'm happy to accept a PR 🙂

[2020-04-13 12:10] reachtokish commented on #96
Thanks @MichaelDeBoey . Started working on this

[2020-04-25 15:03] MichaelDeBoey commented on #82
:tada: This issue has been resolved in version 2.0.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v2.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-10 17:17] shreyansh-zazz opened #117 "remove height hard-coding or give options to provide classname"
https://github.com/MichaelDeBoey/gatsby-remark-embedder/blob/1c2bc0f7db5878d14ccc58002c0af5a9702928de/src/transformers/YouTube.js#L51

[2020-05-10 17:20] shreyansh-zazz opened #118 "Support Dribbble"

[2020-05-21 06:00] acagastya commented on #97
Mind if I work on it, @MichaelDeBoey?  Seems like an easy way to get this done.

[2020-05-21 08:08] MichaelDeBoey commented on #97
@acagastya Be my guest 😉

[2020-05-21 13:14] MichaelDeBoey opened #121 "Support Excalidraw"
Add support for Excalidraw.

https://github.com/excalidraw/gatsby-embedder-excalidraw
https://github.com/excalidraw/gatsby-embedder-excalidraw/issues/2

[2020-05-21 13:16] MichaelDeBoey commented on #33
This could be helpful: https://twitter.com/rauchg/status/1263306524148957184

[2020-05-24 10:00] #97 closed

[2020-05-24 10:05] acagastya commented on #118
The first link results in "Access denied".  Should one log in o access it, @shreyansh-zazz?

[2020-05-24 10:09] MichaelDeBoey commented on #118
@acagastya Added a trailing slash and it works now 🙂

[2020-05-24 13:21] shreyansh-zazz commented on #118
I guess it works now, thanks @MichaelDeBoey.
But I don't think the developer's API for dribbble would be of any help for that we will have to register a new app.

We have to find a different way.

[2020-05-24 14:12] MichaelDeBoey commented on #118
I've sent them a tweet to ask for an oembed endpoint without needing an API key 🙂
https://twitter.com/MichaelDeBoey93/status/1264559548599328768

[2020-05-28 14:41] MichaelDeBoey opened #123 "Support Testing Playground"
Add support for Testing Playground now @smeijer has added this in smeijer/testing-playground#26.

Ref: https://github.com/smeijer/testing-playground/issues/9

[2020-06-05 04:50] bradgarropy opened #125 "Support Facebook"
Add support for Facebook embeds.

https://developers.facebook.com/docs/plugins/embedded-posts
https://github.com/bradgarropy/dailytexascountry.com/blob/master/src/transformers/facebook.js

[2020-06-05 04:55] bradgarropy opened #126 "Add responsive option"
Video services like YouTube should allow for a `responsive` option to be passed in, which would wrap the `iframe` in a `div` using the `padding` hack.

[code]

[2020-06-13 09:32] FabioRosado opened #128 "Twitch transformer will not work after new Twitch requirements"
Hello,

I've been working with the Twitch API for a month on another project and from time to time I go over to the forums and see if there are any new relevant topics. It seems that Twitch has changed their requirements on embedding videos and that is currently breaking a lot of embedding codes.

The change that Twitch has done is that it now requires you to pass a `&parent=<url>` parameter to th

[2020-06-13 11:11] MichaelDeBoey commented on #128
So this means that we won't be able to have Twitch support on preview domains? 🤔

[2020-06-13 11:39] MichaelDeBoey commented on #128
https://twitter.com/MichaelDeBoey93/status/1271762964090171392

[2020-07-21 09:41] FabioRosado commented on #128
After reading the reply on Twitter, I was wondering if it might be possible to add the site url as a config option? 🤔  Might be a bit silly to have it for a single service but I'm trying to figure out how to make it work again

[2020-07-21 10:00] MichaelDeBoey commented on #128
@FabioRosado Yeah I'm leaning towards a config option too, but then again it should be possible to set it dynamically somehow.
Don't see how that would be possible atm, since your gatsby website is already built (taking environment variables into account) before it's deployed to the dynamic subdomain.

[2020-07-21 10:04] FabioRosado commented on #128
It also might be worth mention that on the forums and docs Twitch mentions that you should be able to use `localhost` as a parent for testing purposes, but I was unable to make the  iframe show the video. I'm assuming the reason might be because of the port on the url but when I add the port the iframe just says that the embed was misconfigured. Not sure if this will make  testing a pain.

[2020-07-23 10:03] #128 closed

[2020-07-23 10:06] MichaelDeBoey commented on #128
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-09 00:45] jsjoeio opened #133 "Twitter embed creates blockquote inside p"
- `gatsby-remark-embedder` version: 3.0.0
- `node` version: v12.18.3
- `npm` (or `yarn`) version: yarn 1.22.4

My gatsby.js config

[code]

What you did:

I tried to setup `gatsby-remark-embedder` with `gatsby-plugin-twitter` to embed tweets inside my MD/MDX blog posts.

What happened:

Two error messages show up in the console:
[code]

[code]

This is the exact same issue as #41.

Reproduction re

[2020-09-09 03:35] jsjoeio commented on #133
I think it's related to the browser but I'm not sure.

**Chrome**
<img width="609" alt="image" src="https://user-images.githubusercontent.com/3806031/92551352-a2a0c600-f212-11ea-8873-b27b3d3d7589.png">

[Works fine.](https://5f5824260894c000076e45df--keen-roentgen-cafcb7.netlify.app/launching-first-product) No errors

**Firefox**

<img width="1426" alt="image" src="https://user-images.githubuserco

[2020-09-19 00:42] osiux opened #136 "Support embed outside gatsby using remark plugins"
Wanted to gauge the interest on making this available outside Gatsby ecosystem. I'm working on a nextjs blog where I would love to have this automatic embeds, and I think its pretty straightforward with the way the gatsby plugin works.

For distribution I think on two scenarios, the first would be to make this a multi repo with two packages, current `gatsby-remark-embedder` and a new `remark-embed

[2020-09-19 10:34] MichaelDeBoey commented on #136
Hey @osiux! 👋

To be honest, I've already been thinking about extracting the core so I could re-use that part and support NextJS, ...
I currently lack some time, but this is definitely something I want to look into in the (near) future 🙂

[2020-10-01 19:45] MichaelDeBoey opened #137 "Support Airtable"
Add support for Airtable.

https://support.airtable.com/hc/en-us/articles/217846478-Embedding-a-view-or-base

[2020-10-01 19:47] MichaelDeBoey opened #138 "Support TikTok"
Add support for TikTok.

https://developers.tiktok.com/doc/Embed

[2020-10-01 19:51] MichaelDeBoey opened #139 "Support Simplecast"
Add support for Simplecast.

https://help.simplecast.com/en/articles/2692209-how-to-embed-your-podcast-and-episodes

[2020-10-01 19:57] MichaelDeBoey opened #140 "Support Strava"
Add support for Strava.

https://support.strava.com/hc/en-us/community/posts/208859027-Easily-obtainable-embed-URL

[2020-10-02 09:06] acagastya commented on #139
@MichaelDeBoey Few examples would be helpful.

I think I can add this enhancement with some assistance.  Should I go ahead with this?

[2020-10-02 10:22] acagastya commented on #13
@MichaelDeBoey Can I do it?

[2020-10-02 12:47] MichaelDeBoey commented on #139
A few examples:
- https://unqualified.simplecast.com/episodes/thomas-middleditch
- https://chats-with-kent-c-dodds.simplecast.com/episodes/tanner-linsley-separates-ui-state-and-server-state

[2020-10-02 12:56] acagastya commented on #139
Thanks for the examples, @MichaelDeBoey.

I have noticed this one thing.  Take [this](https://unqualified.simplecast.com/episodes/thomas-middleditch) for example.  One could click on "embed" and copy-paste the embed code in their markdown file.

Embed code:
[code]

I can make this work: Add `https://player.simplecast.com/a7758440-645a-457e-bd6a-d755641bb4f7?dark=false` to markdown and it renders t

[2020-10-02 12:57] MichaelDeBoey commented on #13
@acagastya If you want, you can sure take this one 🙂

[2020-10-02 13:00] MichaelDeBoey commented on #139
@acagastya I want to support both URLs

[2020-10-02 13:05] acagastya commented on #139
Okay -- I will try it out after YouTube, if that is okay!

[2020-10-02 14:19] MichaelDeBoey commented on #139
Any help is welcome, so you can do it in the order you like to 🙂

[2020-10-02 17:00] acagastya commented on #105
@MichaelDeBoey can you please provide a couple of examples?

[2020-10-02 17:08] acagastya commented on #94
@MichaelDeBoey Can I work on this one too?

[2020-10-03 17:51] acagastya commented on #96
I think I may have found a way to solve this.

[2020-10-11 11:04] teeaarbee opened #143 "How to turn off caption of Instagram embeds ?"
- `gatsby-remark-embedder` version:
- `node` version:
- `npm` (or `yarn`) version:

Relevant code or config

[code]

What you did:

What happened:

Reproduction repository:

Problem description:

Suggested solution:

[2020-10-11 11:32] teeaarbee opened #144 "How to change height and width of Spotify and YouTube"
- `gatsby-remark-embedder` version:
- `node` version:
- `npm` (or `yarn`) version:

Relevant code or config

[code]

What you did:

What happened:

Reproduction repository:

Problem description:

Suggested solution:

[2020-10-11 13:37] MichaelDeBoey commented on #143
Hey @teeaarbee! 👋

Can you elaborate a bit more about the problem please?
Can you provide a reproduction repo and some screenshots about the things you think aren't working?

[2020-10-11 13:45] MichaelDeBoey commented on #144
@teeaarbee At this moment it's not possible to change `height`/`width` of the embeds.

I'm happy to accept a PR for both of these transformers that accept `height` & `width` options though 🙂

[2020-10-15 14:18] talohana commented on #144
I needed this for CodePen transformer, I've added this in #146
If this works for you I can get the other transformers in another PR

[2020-10-18 14:09] teeaarbee opened #147 "Instagram returns 400 response about deprecated oEmbed endpoint"
- `gatsby-remark-embedder` version: "^3.0.0"
- `node` version: v10.16.2
- `npm` (or `yarn`) version: 6.9.0

Relevant code or config

[code]

What you did:

What happened:

https://i.postimg.cc/sf8xKRkD/screenshot-2020-10-18.png
![image](https://user-images.githubusercontent.com/65780147/96369612-b8da6400-1178-11eb-81a0-575f0ae114f8.png)

Reproduction repository:
NA

Problem description:
Unable to

[2020-10-18 14:38] MichaelDeBoey commented on #147
Hi @teeaarbee! 👋

Can you please try without the trailing slash and see if that works?
I'm currently not at my computer to try it out myself.

[2020-10-18 16:18] teeaarbee commented on #147
Hi @MichaelDeBoey i did  but still the same error, meanwhile I was looking at that error message and felt may be somethings wrong with the api response from IG and I see this on fb developers page:

![image](https://user-images.githubusercontent.com/65780147/96373589-2ee7c680-118b-11eb-9111-28aa7192e9c7.png)

[code]
Is this something responsible for the error I see?
[https://developers.facebook.co

[2020-10-19 10:06] MichaelDeBoey commented on #147
@teeaarbee It's weird that the endpoint is throwing `400` responses since the endpoint isn't deprecated (yet).
Although we should support the new API asap.

[2020-10-20 00:56] MichaelDeBoey commented on #147
@all-contributors Please add @teeaarbee for bug

[2020-10-20 15:00] #147 closed

[2020-10-20 16:14] MichaelDeBoey commented on #147
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gatsby-remark-embedder/v/4.0.0)
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-23 16:57] xdebbie opened #150 "Support Tidal"
Since Spotify already works.... Maybe if you also add Tidal?

[2020-10-23 16:58] xdebbie commented on #150
https://embed.tidal.com/examples/doc.html

[2020-10-23 17:09] MichaelDeBoey commented on #150
@xdebbie Adding support for Tidal seems like a good one to me, accepting PRs if you want to give it a go 🙂

[2020-11-01 12:41] teeaarbee opened #152 "IG embed fails on private post URL (public posts which were made private later on)"
- `gatsby-remark-embedder` version: ^4.0.0
- `node` version: v10.16.2
- `npm` (or `yarn`) version: 7.0.2

Relevant code or config

[code]

**What you did:** Added Access token and everything works fine - IG embed posts loads good however, it failed over one scenario - private post link (it was public earlier but now its private )

**What happened:**
So I had one URL which was public post at the ti

[2020-11-01 16:31] MichaelDeBoey commented on #152
Hi @teeaarbee! 👋

I remember @pieh implementing a cleaner failing mechanism.
In #75 he added a retry mechanism so we try to fetch it again if it fails.
In #104 he added a cleaner error message whenever it keeps failing.

This is expected behavior, since you would otherwise show the link to the post, which wouldn't be available anyways.

Closing this for now.
Feel free to respond though

[2020-11-01 16:31] #152 closed

[2020-11-01 17:35] #123 closed

[2020-11-01 17:38] MichaelDeBoey commented on #123
:tada: This issue has been resolved in version 4.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gatsby-remark-embedder/v/4.1.0)
- [GitHub release](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v4.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-03 06:27] bradgarropy opened #153 "Broken Instagram Embeds - failed oembed api call"
- `gatsby-remark-embedder` version: `4.1.0`
- `node` version: `12.18.3`
- `npm` (or `yarn`) version: `6.14.8`

---

**Relevant code or config**

[code]

**What you did**

I upgraded to the latest version of `gatsby-remark-embedder`, and created a Facebook `accessToken`. Then I modified the `gatsby-config.js` file to include the proper configuration for `Instagram`, which includes an environment va

[2020-11-03 12:56] MichaelDeBoey commented on #153
Hey @bradgarropy! 👋

I can't reproduce the error you're getting when using my `accessToken`.
Could you check the `https://graph.facebook.com/v8.0/instagram_oembed?url=https://www.instagram.com/p/CCCzGImHE4Z&access_token=<redacted>&omitscript=true` link manually and see what error you're getting there and post the response in the issue please?

I think it's a problem with your `accessToken` tbh.

[2020-11-04 04:20] bradgarropy commented on #153
@MichaelDeBoey,
Opening the following link.

[code]

I get this response.

[code]

[2020-11-04 04:24] bradgarropy commented on #153
I found that I had to go the `My Apps` section of the [`Facebook Developers`](https://developers.facebook.com) portal and enable `oEmbed` by clicking `Set Up` as shown in the image below.

![image](https://user-images.githubusercontent.com/11336745/98068878-fc90c700-1e22-11eb-8031-496935234a81.png)

Now everything is working as expected, thanks so for the support!

[2020-11-04 04:24] #153 closed

[2020-11-13 09:36] wooorm commented on #136
Hi all! I’m coming to this conversation as the maintainer of remark et al, and would also like to see a standalone project, for example so that it can be used directly with remark, but also for example with [Next](https://nextjs.org) or [MDSveX](https://github.com/pngwn/MDsveX).
It seems like there’s only a small layer of Gatsby-specific code?

For the remark part, there are certain Gatsby-esque t

[2020-11-13 12:37] MichaelDeBoey commented on #136
Hi @wooorm! 👋

Awesome that you're wanting to help out! 👊

Can we maybe have a chat somewhere (Twitter DM or so), so you can elaborate a bit more about your remarks (no pun intended) please?
I assume MDX@1 does **only** accept an HTML string, but `remark` & MDX@2 **only** accept an AST? 🤔

[2020-11-14 05:43] osiux commented on #136
I'm still very interested on this, so if I can help, please feel free to include me in the conversation!

[2020-11-14 13:02] MichaelDeBoey commented on #136
@osiux I'm already working on an extracted core-package so it can be used on multiple platforms 😉

[2020-12-15 20:34] kentcdodds commented on #133
This actually was a real issue, and I'm fixing it :)

[2020-12-15 20:35] #133 closed

[2020-12-15 20:36] kentcdodds commented on #133
Once @MichaelDeBoey gets automated releases working again, then this should be fixed.

[2020-12-15 21:09] jsjoeio commented on #133
Oh wow. Well thanks for commenting on this old issue and issuing a fix! 😄

[2020-12-15 21:16] kentcdodds commented on #133
I bumped into the issue myself and went to fix it. When I was writing the commit, I thought having an issue to link to would help explain what was going on so I searched and found yours. You saved me time writing my own issue 😉 Thank *you*!

[2020-12-15 21:16] kentcdodds commented on #133
@all-contributors please add @jsjoeio for bugs

[2020-12-31 01:58] osiux commented on #136
Came to post that I used a workaround ([1](https://github.com/osiux/osiux.ws/blob/main/src/utils/embedder.ts), [2](https://github.com/osiux/osiux.ws/blob/main/pages/blog/%5Bslug%5D.tsx#L99)) to use this on a nextjs site and saw Kent's PR! Gonna follow progress over there! Should we close this issue?

[2020-12-31 02:21] kentcdodds commented on #136
Checkout https://github.com/remark-embedder/core

This package will eventually be migrated to use that when @MichaelDeBoey gets around to it.

You'll also probably want to use https://github.com/remark-embedder/transformer-oembed

That handles most of what this package does I think.

[2020-12-31 04:00] MichaelDeBoey commented on #136
@osiux I'm currently in the middle of some renovations at my home, but I'm planning to migrate this plugin (and all transformers) over to the new @remark-embedder way of doing things very soon.

[2020-12-31 04:05] osiux commented on #136
@MichaelDeBoey sounds good! Will take a look to see how I can help :)

[2020-12-31 04:05] #136 closed

[2021-01-03 00:08] jon-sully commented on #140
This one would be pretty sweet to have.. Strava's embedded markup is unfortunately not scalable (from my experience) so it becomes awful to work with unless you stick to the prescribed (pixel) size 😕

[2021-01-06 10:41] bartveneman opened #173 "Feature request: Support for `loading="lazy"` for iframes"
- `gatsby-remark-embedder` version: 4.1.0
- `node` version: 14.15.3
- `npm` version: 6.14.9

Relevant code or config

[code]

What you did: Adding a Youtube/Spotify link in MarkDown

What happened: The url was correctly transformed into an iframe

Reproduction repository: N/A

Problem description: All iframes (and their contents) are always loaded, even if content is below the fold, resulting in r

[2021-01-07 21:48] bartveneman commented on #173
I just realized that passing the loading attribute value could also be done in the `options` of this plugin:

[code]

[2021-01-08 15:21] bartveneman commented on #173
We could even take it one step further and make all iframe attributes configurable like so (similar to how JSX works, I think):

[code]

[2021-01-13 13:16] h8inc commented on #96
Is there a solution to embed a google slide presentation into a Gatsby site, yet?

[2021-01-13 13:47] MichaelDeBoey commented on #96
@h8inc That's not possible atm

[2021-03-05 06:25] talohana opened #175 "Support Gatsby v3"
Gatsby v3 is officially out - https://github.com/gatsbyjs/gatsby/issues/29932. While migrating to v3 I'm getting error while running `npm install`:

Is there a way to test this plugin against gatsby v3?

I will be more than happy to submit a PR 🚀

[2021-03-17 12:06] manhluong commented on #175
I installed this plugin via `--legacy-peer-deps` as in `npm install gatsby-remark-embedder --legacy-peer-deps` with Gatsby v3 and so far the youtube and twitter previews are working fine.

[2021-04-02 09:05] bartveneman commented on #173
Closing this, because I found out that I could achieve the result I wanted through `rehype-react`:

[code]

[2021-04-02 09:05] #173 closed

[2021-04-14 14:36] #175 closed

[2021-05-18 13:49] Swizec opened #191 "Support high performance YouTube and Twitter embeds"
Hi,

YouTube and Twitter embeds hurt Lighthouse scores. Both load a bunch of unused JavaScript and create heavy iframe embeds.

I've built a custom transformer for YouTube that uses the [lite-youtube](https://github.com/justinribeiro/lite-youtube) facade embed (as recommended by Lighthouse). It uses a web component to render a preview image that turns into a full embed with user interaction.

I've

[2021-11-15 23:13] meehawk opened #211 "Support Gatsby v4"
I've been using this plugin ever since it came out and find it amazing. Recently upgraded to Gatsby v4. Was wondering if there were any plans to migrate this plugin to support Gatsby v4?

On a side note, I'd love to contribute and open a PR if need be and any guidance on this would be awesome

- `gatsby-remark-embedder` version: 5.0.0
- `node` version: 14.x
- `npm` version: 8.x

What you did:
Upgr

[2021-12-07 01:04] trevorblades commented on #211
I just opened #214 to make this plugin compatible with Gatsby 4.

[2022-01-25 12:11] anton-ivanov-feefo commented on #211
I have the same issue, would this fix be merged anytime soon?

[2022-03-03 16:06] #211 closed

[2022-03-11 12:59] antogada opened #221 "The plugin doesn't work for Gatsby 4"
- `gatsby` version: 4.4.0
- `gatsby-transformer-remark` version: 5.4.0
- `gatsby-remark-embedder` version: 6.0.0
- `node` version: 14.15.0
- `npm` version: 6.14.13

Relevant code or config

[code]

What you did: **Installed the plugin**

What happened: **The embedding feature didn't work**

Problem description: I'm using `gatsby-transformer-remark` and I've added the `gatsby-remark-embedder` to th

[2022-03-11 14:13] MichaelDeBoey commented on #221
@antogada Can you please provide me with a reproduction repo/CodeSandbox that I can look into?

[2022-03-14 15:07] mattchannn commented on #221
https://github.com/mattchannn/gatsby-starter-sample

Hi Michael, I think you can refer to this one, I have the same issue in my blog. This is the best I could give it to you, I tried not to miss any config and settings that my site did

[2022-03-14 16:50] MichaelDeBoey commented on #221
@mattchannn Can you please provide me with a minimal reproduction?
Unfortunately, I don't have the bandwidth to figure out if it's because `gatsby-remark-embedder` or because another package is causing the troubles.

[2022-03-15 08:41] antogada commented on #221
@MichaelDeBoey [this is the repo](https://github.com/antogada/test-embedder).

There is just one page and one article. You can start the project by running `gatsby develop`.
Let me know if you have any questions.

[2022-03-15 13:01] MichaelDeBoey commented on #221
@antogada @mattchannn Please provide me with a **bare minimum** reproduction repo. So only the really necessary plugins provided. That way I'm sure I'll only put my time & effort in solving a problem that `gatsby-remark-embedder` is causing.

[2022-03-23 17:05] mattchannn commented on #221
@MichaelDeBoey  Hi, please check my repo again, removed all unnecessary plugins

[2022-04-06 14:12] kxxt commented on #221
I encountered the same issue in my personal website using `gatsby-plugin-mdx`. However, in another repo, it works fine with `gatsby-transformer-remark`.

[2022-04-06 15:09] kxxt commented on #221
I'm not sure if this bug is related to `gatsby-plugin-mdx`, but if you prefer MarkdownX syntax, you can try `gatsby-plugin-mdx-embed` which works fine for me.

www.mdx-embed.com/

[2022-04-06 15:25] mattchannn commented on #221
@kxxt Seems like a breaking change to me..

[2022-04-06 15:28] mattchannn commented on #221
Plus.. as the README said it supports 2 mdx plugin, I think it will be great to review if there's room for fixing this specific issue

[2022-05-10 03:07] jsg2021 commented on #221
Gatsby is not calling your default export (babel is not transforming default exports to `module.exports = default`). The PR #214, notably the addition of `babel-plugin-add-module-exports` fixes it. You could also just have a non-esm wrapper entrypoint that maps that for you without the transform if you are opposed to that dev dependency.

(tip to other readers: clear gatsby cache to see the change

[2022-05-10 08:56] MichaelDeBoey commented on #221
@jsg2021 So this essentially comes down to the way we do the `export`?

And we should just change this line
https://github.com/MichaelDeBoey/gatsby-remark-embedder/blob/668d719fdd0f9055e2026b43e4f885b552c7b785/src/index.js#L22

to

[code]

?

[2022-05-10 15:00] MichaelDeBoey commented on #221
Should be fixed by #225 then

[2022-05-25 18:05] bartveneman commented on #191
Anyone coming here looking for a workaround (it's not pretty, but it works):

`gatsby-config.js`
[code]

Then import the lite-youtube script in the page/component where you plan to use it:

`my-page.js`

[code]

[2022-06-22 17:36] #221 closed

[2022-09-19 14:27] bartveneman commented on #191
We could take it a step further and use https://swyxkit.netlify.app/faster-youtube-embeds instead, to avoid any JS cost.

[2022-10-07 08:06] bartveneman commented on #191
**Why do we need this?**

I'm using a _custom transformer_ for Youtube videos to render the above `<iframe srcdoc="" />`. This works excellent during a regular build, but apparently Gatsby's [Deferred Static Generation](https://www.gatsbyjs.com/docs/how-to/rendering-options/using-deferred-static-generation/) can not cope with with Gatsby Plugins that do not have serializable config (like the `shou